button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent-strong);
  background-color: var(--base-weak);
  box-shadow: var(--default-shadow);
  border-radius: 1.875rem;
  padding: 2.25rem;
  border: none;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

button:active {
  transform: scale(0.92);
  box-shadow: var(--inset-shadow);
}

button:hover {
  cursor: pointer;
  color: var(--base-strong);
}

svg {
  fill: currentColor;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.5s ease;
}

.filled-btn {
  color: var(--base-weak);
  background-color: var(--accent-strong);
}

.number-input {
  background-color: transparent;
  border: none;
  color: var(--base-weak);
  padding: 0.5rem;
}
