.page-container {
  height: 100%;
  min-height: 100vh;
  background-color: var(--base-weak);
  max-width: 120rem;
  width: 100%;
  padding: 2.5rem 5rem 2.5rem 5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 2.5rem;
  grid-row-gap: 0px;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}

.author-info {
  position: relative;
  align-self: self-start;
  text-transform: uppercase;
}

.author-info a {
  transition: all 0.5s ease;
  display: inline-block;
}

.space-after {
  margin-right: 1rem;
}

.author-info:hover a .letter {
  vertical-align: bottom;
}

.author-info:hover a .letter-down {
  color: var(--accent-strong);
  position: relative;
  top: 1.5rem;
}

.author-info:hover a .letter-up {
  color: var(--accent-strong);
  position: relative;
  top: -1.5rem;
}

.timer-dial-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22.5rem;
  height: 22.5rem;
  border-radius: 50%;
  background-color: var(--base-weak);
  box-shadow: var(--default-shadow);
}

.time-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 19.5rem;
  height: 19.5rem;
  border-radius: 50%;
  border: 5px solid var(--accent-strong);
  background-color: var(--base-weak);
  box-shadow: var(--default-shadow);
}

.time {
  font-size: 3rem;
}

.timer-info {
  font-size: 1rem;
}

.control-btn-container {
  padding-inline: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}

.action-btn-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: self-end;
  justify-content: space-between;
}

.control-btn {
  height: 5rem;
  width: 12.5rem;
}

.action-btn {
  padding: 1.5rem;
  width: 6rem;
  height: 6rem;
}
